.body {
    max-width: 1920px;
}

.clearfix {
    overflow: auto;
}

.container {
    margin: auto;
    width: 80%;
}

h1 {
    font-size: 48px;
    color: yellow;
}

#main-heading {
    color:black;
    background-color: green;
}

p {
    font-size: 12px;
    color: darkgrey;
}

img {
    width: 500px;
    height: 300px;
}

.first-row {
    height: 80px;
}

.column-100 {
    float: left;
    width: 100%;
    background-color: darkgreen;
    text-align: center;
}

.second-row {
    height: 250px;
}

.column-50 {
    float: left;
    width: 50%;
    background-color: lightgrey;
}

.third-row {
    height: 400px;
}

#column-70 {
    float: left;
    width: 70%;
    height: 100%;
    background-color: wheat;
}

#column-30 {
    float:left;
    width: 30%;
    height: 100%;
    background-color: darkkhaki;
}

.fourth-row {
    height: 180px;
}

.column-33 {
    float: left;
    width: 33.33%;
    background-color: darkolivegreen;
    height: 100%;
}